<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="VisualRegressionTests" verbose="0" parallel="tests" thread-count="10">
<!--    parallel="tests" thread-count="10" -->

    <listeners>
        <listener class-name="A_ErrorsLogListener"/>
    </listeners>


    <test name="TestExamples">
        <classes>
            <class name="TestExamples" />
        </classes>
    </test>


</suite>
